body
{
    font-family: "Courier New", Courier, monospace;
}

pre {
    white-space: pre-wrap;
}

.main
{
    font-family: "Arial", Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    width: 50%;
    margin: 10px auto;
    display: none;
}

.controls
{
    padding: 5px;
    width: 50%;
    margin: 10px auto;
}

.controls input{
    margin: 5px;
}